.header {
    grid-area: h;
    background-color: #4fa178;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 3px solid #d4af37;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}
.header img {
    width: 113px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 110px;

}

.h1{
    font-family: 'Pangolin', cursive; /* Декоративный шрифт */
    font-size: 3em;
    color: #f4e8c1; /* Мягкий светлый цвет текста */
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); /* Волшебный эффект тени */
    letter-spacing: 2px;
    margin: 0;
}


.loginBlock {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 110px;
    /*float: right;*/
}

.loginBlock a {
    color: white;
}

.text {
   color: white;
}
